DATABASE_URL="postgresql://maboria:maboria@localhost:5432/maboria_saas"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="changeme"

EMAIL_SERVER_HOST="smtp.mailtrap.io"
EMAIL_SERVER_PORT="2525"
EMAIL_SERVER_USER="user"
EMAIL_SERVER_PASSWORD="password"
EMAIL_FROM="no-reply@maboria.com"
SUBSCRIPTION_RECEIPT_NAME="Maboria"
SUBSCRIPTION_RECEIPT_ADDRESS="100 Alexander Avenue"
SUBSCRIPTION_RECEIPT_EMAIL="info@maboria.com"
SUBSCRIPTION_RECEIPT_PHONE="+2347063310000"


FLUTTERWAVE_PUBLIC_KEY="FLWPUBK_TEST"
FLUTTERWAVE_SECRET_KEY="FLWSECK_TEST"
FLUTTERWAVE_WEBHOOK_SECRET="FLW_WEBHOOK_HASH"

PAYSTACK_PUBLIC_KEY="pk_test_"
PAYSTACK_SECRET_KEY="sk_test_"
PAYSTACK_WEBHOOK_SECRET="paystack_whsec"

OPENAI_API_KEY="sk-openai"
APP_URL="http://localhost:3000"

WHATSAPP_ACCESS_TOKEN="EAAG..."
WHATSAPP_PHONE_NUMBER_ID="1234567890"
WHATSAPP_BUSINESS_ACCOUNT_ID="1234567890"
WHATSAPP_WEBHOOK_VERIFY_TOKEN="whatsapp_verify_token"
WHATSAPP_API_VERSION="v19.0"
WHATSAPP_ENABLED="true"
WHATSAPP_CUSTOMER_CHAT_ENABLED="true"
WHATSAPP_AI_REPLY_ENABLED="false"

POSTGRES_USER="maboria"
POSTGRES_PASSWORD="maboria"
POSTGRES_DB="maboria_saas"
